<div class="footer">
    <div class="footer-wrapper">
        <div class="footer-section">
            <img src="assets/home-icon.svg" alt="">
            <div class="footer-item-active">Home</div>
        </div>

        <div class="footer-section">
            <img src="assets/track-icon.svg" alt="">
            <div class="footer-item">Track</div>
        </div>

        <div class="footer-section">
            <img src="assets/search-icon.svg" alt="">
            <div class="footer-item">Search</div>
        </div>

        <div class="footer-section">
            <img src="assets/account-icon.svg" alt="">
            <div class="footer-item">Account</div>
        </div>
    </div>
</div>