<div class="classic-card">

  <div class="image-container">
    <img [src]="img" alt="Card Image">
    <img class="heart-logo" src="assets/wishlist.svg" alt="">
  </div>

  <div class="title-container">
    <div class="product-title">{{ title }}</div>
    <div class="rating">
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span>(4.7)</span>
    </div>

    <span class="price">{{ desc }} </span>
    <span class="discount">{{ oldprice }}</span>
  </div>

  

</div>